<!DOCTYPE html>
<html lang="en">
<head>
    <title>dc.js - Number Display Example</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dc.css') }}"/>
</head>
<body>

{{ dash.render_divs()|safe }}

<script type="text/javascript" src="{{ url_for('static', filename='js/d3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/crossfilter.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dc.js') }}"></script>
{{ dash.render_js()|safe }}
</body>
</html>
